body {
  background-color: #eee;
}

header,
footer {
  background-color: #0c728c;
  padding: 20px 10px;
}

a {
  color: #efe5bf;
}

a:visited {
  color: #a8a186;
}

h1 {
  color: #fff;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2em;
  margin: 20px;
}

p {
  font-family: 'Roboto', sans-serif;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 20px 5%;
}

.footer-text {
  color: #fff;
  max-width: 600px;
  margin: 20px;
}

#cc-logo {
  float: left;
  margin-right: 10px;
}

.song {
  background-color: #efe5bf;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  width: 22%;
}


@media (max-width: 600px) {
  .song {
    width: 90%;
  }
}

.song a,
.song a:visited {
  color: #444;
}

.song .title {
  font-size: 1.8em;
  font-family: 'Oswald', sans-serif;
}

.song .date {
  color: #444;
  display: inline-block;
  font-size: 1.25em;
  margin-top: 4px;
}

.player {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
}

.player .play-button {
  background-color: transparent;
  border: none;
  color: #444;
  font-size: 1.2em;
  margin-left: -8px;
}

.player .transport {
  background-color: #aaa;
  width: 100%;
}

.single .play-button {
  background-color: transparent;
  border: none;
  color: #efe5bf;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-contents: space-around;
  margin: 20px 40px;
}

.cont .single {
  width: 380px;
}

.tags {
  margin-top: 5px;
}

.tags .tag {
  color: #004c6d;
}

.single .title,
.faq h2,
.goback a,
.goback a:visited,
.related h3 {
  color: #efe5bf;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}

.faq h2 {
  margin-bottom: 5px;
}

.single .title {
  font-family: 'Oswald', sans-serif;
}

.single audio {
  margin-top: 10px;
}

.cont .description {
  color: #004c6d;
  font-size: 18px;
  margin-top: 32px;
  width: 400px;
}

.faq {
  color: #004c6d;
  max-width: 780px;
  margin: 20px 40px;
}

.goback {
  margin-top: 20px;
}

.related {
  margin: 20px 40px;
}

.related-hr {
  color: #efe5bf;
  margin: 20px 40px;
}
