body {
  background-color: #64b5ce;
}

a {
  color: #367f9d;
}

a:visited {
  color: #004c6d;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 20px 5%;
}

.cc {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.song {
  background-color: #efe5bf;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  width: 22%;
}


@media (max-width: 600px) {
  .song {
    width: 90%;
  }
}

.song .title {
  font-size: 1.8em;
  font-family: 'Oswald', sans-serif;
}

.song .date {
  color: #367f9d;
  display: inline-block;
  font-size: 1.25em;
  margin-top: 4px;
}

.player {
  display: inline-block;
  width: 280px;
  margin-top: 10px;
}

.player .play-button {
  background-color: transparent;
  border: none;
  color: #004c6d;
  font-size: 2.5em;
}

.single .play-button {
  background-color: transparent;
  border: none;
  color: #efe5bf;
  font-size: 2.5em;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-contents: space-around;
  margin: 20px 40px;
}

.cont .single {
  width: 380px;
}

.tags {
  margin-top: 5px;
}

.tags .tag {
  color: #004c6d;
}

.single .title,
.faq h2,
.goback a,
.goback a:visited,
.related h3 {
  color: #efe5bf;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}

.faq h2 {
  margin-bottom: 5px;
}

.single .title {
  font-family: 'Oswald', sans-serif;
}

.single audio {
  margin-top: 10px;
}

.cont .description {
  color: #004c6d;
  font-size: 18px;
  margin-top: 32px;
  width: 400px;
}

.faq {
  color: #004c6d;
  max-width: 780px;
  margin: 20px 40px;
}

.goback {
  margin-top: 20px;
}

.related {
  margin: 20px 40px;
}

.related-hr {
  color: #efe5bf;
  margin: 20px 40px;
}
