body {
  background-color: #64b5ce;
}

a {
  color: #367f9d;
}

a:visited {
  color: #004c6d;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 20px 80px;
}

.cc {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.song {
  background-color: #efe5bf;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  width: 22%;
}

.song .title {
  font-size: 1.8em;
}

.player {
  display: inline-block;
  width: 280px;
  margin-top: 10px;
}

.player .play-button {
  background-color: transparent;
  border: none;
  color: #004c6d;
  font-size: 2.5em;
}
