{% extends "base.html" %}

{% block content %}
<div class="cont">
  <div class="single">
    <h2 class="title">{{ song.title }}</h2>
    <span class="player" data-song-id="{{ song.slug }}">
      <button class="play-button">
        <i class="fas fa-play"></i>
        <i class="fas fa-pause" style="display: none;"></i>
      </button>
      <audio id="player-{{ song.slug }}" preload="none" src="{{ song.src }}">
      </audio>
    </span>
    <div class="tags">
      {% for tag in song.meta['tags'] %}
      <span class="tag">#{{ tag }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="description">
    {{ song.html | safe }}
  </div>
</div>

<div class="faq">
  <h2>What is this site?</h2>
  <p>
    You're looking at a single song by <a href="https://travisbriggs.com">Travis
    Briggs</a> posted to his song and sounds website. You can browse other songs
    that are similar below, or go back to the main song listing.
  </p>
  <p class="goback">
    <a href="/">&lt;--- Go Back</a>
  </p>
</div>

<hr class="related-hr">

{% for tag in song.meta['tags'] if song.related[tag]|length != 0 %}
<div class="related">
  <h3>Other songs tagged '{{ tag }}'</h3>
  <ul>
    {% for song in song.related[tag] %}
      <li class="song">
        <a class="title"
           href="{{ url_for("song", path=song.path) }}">{{song.title}}</a><br>
        <span class="date">{{ song.dt.strftime('%b %d, %Y') }}</span><br>
        <span class="player" data-song-id="{{ song.slug }}">
          <button class="play-button">
            <i class="fas fa-play"></i>
            <i class="fas fa-pause" style="display: none;"></i>
          </button>
          <audio id="player-{{ song.slug }}" preload="none" src="{{ song.src }}">
          </audio>
        </span>
      </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

{% endblock content %}
